:root {
  --black: #000000;
  --dark:#0F0E0E;
  --gray900:#242424;
  --gray300:#746F6F;
  --gray100:#BFC7D8;
  --blue900:#091E32;
  --blue700:#093C70;
  --blue400:#1A61FB;
  --blue200:#87A9CB;
  --blue100:#def7ff;
  --white: #FFFFFF;
}

p {
  color: var(--gray300);
}

.line{
  width: 70px;
  border-bottom: 6px solid var(--blue400);
  border-radius: 5px;
}

.line-ctr{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
.line-lft{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.nav-link {
  color: var(--black);
  font-weight: bold;
  font-size: 18px;
}

.nav-link:hover {
  color: var(--blue400);
}

.banner {
  position: relative;
}

.banner img {
  display: block;
  width: 100%;
  height: 60vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Define a cor de fundo com transparência */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff; /* Define a cor do texto */
}

.overlay h1, .overlay h4 {
  margin: 0;
  padding: 10px;
}

.banner .element {
  height: 300px;
}
.light {
  background-color: var(--blue400);
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 50px;
}

.galeria {
  position: relative;
  margin-top: 100px;
  margin-bottom: 50px;
}

.galeria img {
  display: block;
  width: 100%;
  height: auto;
}

.overgal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  color: #fff;
}

.overgal h1 {
  width: 60%;
}

.overgal h1, .overgal a {
  margin: 0;
  padding: 10px;
}

.cursos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 100px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  align-items: center;
  justify-content: center;;
}

.card {
  width: 350px;
  height: 400px;
}
.card p {
  color: var(--white);
  font-size: 13px;
}
.card strong {
  font-size: 14px;
}

.cursos img{
  width: 100%;
  padding: 10px;
  height: 300px;
}
.card-body {
  background-color: rgba(0, 0, 0, 0.8); 
  padding: 10px;
  text-align: justify;
}

.patrono {
  background-color: var(--blue200);
  padding: 0vh 20vh 0vh 20vh;
}

.patrono .row{
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.patrono p{
  color: var(--white);
}

.contacto {
  background-color: var(--gray900);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.contacto h2, .contacto p {
  color: var(--white);
  text-align: center;
}

.contacto form {
  width: 50%;
  padding-top: 50px;
}

.contacto form div {
  border-bottom: 3px solid var(--white);
  margin-bottom: 30px;
}

.contacto input{
  background-color: var(--gray900);
  border-bottom: 5px var(--white);
  border: none;
}

.contacto input::placeholder{
  color: var(--white);
}

.contacto textarea {
  background-color: var(--gray900);
  color: white;
  border: none;
}

.btn-enviar {
  background-color: var(--white);
  color: var(--black);
  padding: 12px 24px;
  border-radius: 20px;
  border: none;
  max-width: 150px;
}

footer {
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3em;
  padding: 30px;
}

.footer div {
  height: 200px;
}

.footer .logo p {
  font-size: 20px;
  max-width: 300px;
}

h3{
  color: var(--white);
  font-size: x-large;
}

.footer a, 
.footer p, 
.footer strong, 
.footer span{
  color: var(--white);
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

/*Login*/

.login .enviar{
  width: 100px;
}

/*Sobre*/
.sobre{
  margin-bottom: 50px;
}

/*Cursos*/
.cursos .row{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  margin-bottom: 50px;
}

.cursos h4 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.cursos .img-fluid{
  width: 350px;
}

/*Pautas*/
.pautas h1{
  padding: 30vh;
}

/*comunicados*/
.comunicados h1{
  padding: 30vh;
}

/*Galeria*/
.container-galeria {
  margin-bottom: 100px;
}

.imagens-galeria h3 {
  font-size: larger;
  color: var(--gray300);
  border-bottom: 3px solid var(--blue200) ;
  margin-top: 80px;
}

.imagens-galeria img {
  width: 400px;
  height: 200px;
  cursor: pointer;
}

.modal-lg{
  border: 5px solid var(--blue200);
  border-radius: 10px;
}

.modal-footer .btn {
  background-color:var(--blue400);
}

/*Quadro de Honra*/

.honra {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  width: 80%;
  border-radius: 10px;
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: var(--gray100);
  border-radius: 10px 10px 0 0;
  
}

.table-section {
  height: auto;
  overflow: auto;
}

table {
  width: 100%;
  table-layout: fixed;
  min-width: 1000px;
  border-collapse: collapse;
}

thead th {
  position: sticky;
  background-color: #def7ff;
  color: var(--gray300);
  font-size: 18px;
}

th,td {
  border-bottom: 1px solid var(--gray100);
  word-break: break-all;
  text-align: center;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

tr {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

td {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

td img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 15px;
  border: 3px solid var(--blue200);
}

td p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

tr:hover td {
  color: var(--blue400);
  cursor: pointer;
  background-color: var(--blue100);
}

.pagination {
  display: flex;
  justify-content: end;
  width: 100%;
  padding: 10px 20px;
  margin-top: 50px;
}

.pagination div {
  padding: 10px;
  border: 2px solid var(--blue100);
  height: 40px;
  width: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue400);
  color: var(--white);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  margin: 0 5px;
  font-weight: 600;
  cursor: pointer;
}

/*Pautas*/

.apto{
  color: green;
}

.napto{
  color: red;
}

.recurso{
  color: var(--blue400);
}