:root {
  --black: #000000;
  --dark:#0F0E0E;
  --gray900:#242424;
  --gray300:#746F6F;
  --blue900:#091E32;
  --blue700:#093C70;
  --blue400:#1A61FB;
  --blue200:#87A9CB;
  --blue100:#-BFC7D8;
  --white: #FFFFFF;
}



.nav-link {
  color: var(--black);
}

.nav-link:hover {
  color: var(--white);
}

.contacto {
  background-color: var(--gray900);
}

.btn-enviar {
  background-color: var(--white);
  color: var(--black);
  padding: 12px 24px;
  border: none;
}
